@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.footer {
    background: rgba(255, 255, 255, 0.445);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    margin-top: 70px;
    border-top: 8px solid #fcd0b5;
    color: #c25c02;
    padding: 70px 8%;
    font-family: 'Montserrat', sans-serif;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-logo h2 {
    font-family: 'Mont', sans-serif;
    font-size: 34px;
    margin: 0;
    letter-spacing: 2px;
    color: #c25c02;
}

.footer-logo p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #9a6a4b;
}

.footer-links {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.footer-links a {
    font-family: 'Mont', sans-serif;
    text-decoration: none;
    color: #c25c02;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.footer-links a:hover {
    color: #e2628e;
    text-decoration: none;
}

.links {
    color: #9a6a4b;
}

.links:hover {
    color: #9a6a4b;
    text-decoration: none;
}

.footer hr {
    border: none;
    height: 2px;
    background: #fcd0b5;
    margin: 60px 0;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.footer-bottom p{
    margin: 0px;
}

.social-icons {
    display: flex;
    gap: 18px;
}

.social-icons a {
    width: 45px;
    height: 45px;
    border: 2px solid #fcd0b5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c25c02;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 16px;
    background: white;
}

.social-icons a:hover {
    background: #e2628e;
    color: white;
    border-color: #e2628e;
    transform: translateY(-3px);
}

.footer-email {
    color: #9a6a4b;
    font-size: 14px;
    letter-spacing: 1px;
}


@media screen and (max-width: 768px) {

    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        justify-content: center;
        gap: 25px;
    }
}